@font-face {
  font-family: "A2Z";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("A2z-1Thin.woff2") format("woff2");
}
@font-face {
  font-family: "A2Z";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("A2z-2ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "A2Z";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("A2z-3Light.woff2") format("woff2");
}
@font-face {
  font-family: "A2Z";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("A2z-4Regular.woff2") format("woff2");
}
@font-face {
  font-family: "A2Z";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("A2z-5Medium.woff2") format("woff2");
}
@font-face {
  font-family: "A2Z";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("A2z-6SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "A2Z";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("A2z-7Bold.woff2") format("woff2");
}
@font-face {
  font-family: "A2Z";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("A2z-8ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "A2Z";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("A2z-9Black.woff2") format("woff2");
}
